.App {
    font-family: Arial, sans-serif;
    max-width: 960px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #888888;
    color: #fff;
    border-radius: 10px 10px 10px 10px;
  }
  
  nav a {
    color: rgb(5, 5, 5);
    text-decoration: none;
  }
  
  nav a:hover {
    color: #585858;
  }

  .navbar-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    flex-grow: 1;
  }

  .btn-form {
    text-decoration: none;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .btn-form:hover {
    color: #585858;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-secondary {
    background-color: #333536;
    color: #fff;
    margin-left: 10px;

  }

  body {
    background-image: url("../public/background.jpg");
    background-size: cover;
  }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-height: 90%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 20px;
    flex-direction: column;
    overflow-y: auto;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #004d99;
    color: white;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #e6f7ff;
  }
  
  .btn-edit, .btn-delete {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-edit {
    color: rgb(0, 105, 0);
  }
  
  .btn-delete {
    color: rgb(224, 2, 2);
  }
  
  .btn-edit:hover {
    color: rgb(0, 61, 0);
  }
  
  .btn-delete:hover {
    color: rgb(167, 0, 0);
  }

  label {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;

    font-weight: bold;
  }
  
  input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    width: 300px;
    max-width: 100%;
  }